Django==1.6.2
Markdown==2.4
South==0.8.4
argparse==1.2.1
django-bootstrap-toolkit==2.15.0
django-bootstrap3==2.6.1
-e git+https://timmyomahony@github.com/timmyomahony/django-pagedown.git@542fcabf619975e270fbad201426d1fab7e4181d#egg=django_pagedown-master
feedparser==5.1.3
gunicorn==18.0
html2text==3.200.3
psycopg2==2.5.2
wsgiref==0.1.2
